In [2]:
import pandas as pd
import numpy as np

In [3]:
# Load dataset
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/arrhythmia/arrhythmia.data", header=None)
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,...,452.000000,452.000000,452.000000,452.000000,452.0,452.000000,452.000000,452.000000,452.000000,452.000000
mean,46.471239,0.550885,166.188053,68.170354,88.920354,155.152655,367.207965,169.949115,90.004425,33.676991,...,-0.278982,9.048009,-1.457301,0.003982,0.0,0.514823,1.222345,19.326106,29.473230,3.880531
std,16.466631,0.497955,37.170340,16.590803,15.364394,44.842283,33.385421,35.633072,25.826643,45.431434,...,0.548876,3.472862,2.002430,0.050118,0.0,0.347531,1.426052,13.503922,18.493927,4.407097
min,0.000000,0.000000,105.000000,6.000000,55.000000,0.000000,232.000000,108.000000,0.000000,-172.000000,...,-4.100000,0.000000,-28.600000,0.000000,0.0,-0.800000,-6.000000,-44.200000,-38.600000,1.000000
25%,36.000000,0.000000,160.000000,59.000000,80.000000,142.000000,350.000000,148.000000,79.000000,3.750000,...,-0.425000,6.600000,-2.100000,0.000000,0.0,0.400000,0.500000,11.450000,17.550000,1.000000
50%,47.000000,1.000000,164.000000,68.000000,86.000000,157.000000,367.000000,162.000000,91.000000,40.000000,...,0.000000,8.800000,-1.100000,0.000000,0.0,0.500000,1.350000,18.100000,27.900000,1.000000
75%,58.000000,1.000000,170.000000,79.000000,94.000000,175.000000,384.000000,179.000000,102.000000,66.000000,...,0.000000,11.200000,0.000000,0.000000,0.0,0.700000,2.100000,25.825000,41.125000,6.000000
max,83.000000,1.000000,780.000000,176.000000,188.000000,524.000000,509.000000,381.000000,205.000000,169.000000,...,0.000000,23.600000,0.000000,0.800000,0.0,2.400000,6.000000,88.800000,115.900000,16.000000

In [4]:
# Menghapus baris yang memiliki data tak lengkap
df = df[df[0:].notna()]
df

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [5]:
# Merubah nama atribut kolom
df = df.rename(columns={0: "Age",
          1: "Sex",
          2: "Height",
          3: "Weight",
          4: "QRS duration",
          5: "P-R interval",
          6: "Q-T interval",
          7: "T interval",
          8: "P interval",
          14: "Heartrate",
          279: "Class"})
df

,Age,Sex,Height,Weight,QRS duration,P-R interval,Q-T interval,T interval,P interval,9,...,270,271,272,273,274,275,276,277,278,Class
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [6]:
df.columns

Index([         'Age',          'Sex',       'Height',       'Weight',
       'QRS duration', 'P-R interval', 'Q-T interval',   'T interval',
         'P interval',              9,
       ...
                  270,            271,            272,            273,
                  274,            275,            276,            277,
                  278,        'Class'],
      dtype='object', length=280)

In [7]:
# Drop kolom yang tidak dipakai
df = df.drop(pd.concat([df.iloc[:,9:14],df.iloc[:,15:279]]),axis=1)
df

,Age,Sex,Height,Weight,QRS duration,P-R interval,Q-T interval,T interval,P interval,Heartrate,Class
0,75,0,190,80,91,193,371,174,121,63,8
1,56,1,165,64,81,174,401,149,39,53,6
2,54,0,172,95,138,163,386,185,102,75,10
3,55,0,175,94,100,202,380,179,143,71,1
4,75,0,190,80,88,181,360,177,103,?,7
...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,63,1
448,37,0,190,85,100,137,361,201,73,73,10
449,36,0,166,68,108,176,365,194,116,84,2
450,32,1,155,55,93,106,386,218,63,80,1
451,78,1,160,70,79,127,364,138,78,75,1

In [8]:
df = df[df["Heartrate"] != "?"]
df

,Age,Sex,Height,Weight,QRS duration,P-R interval,Q-T interval,T interval,P interval,Heartrate,Class
0,75,0,190,80,91,193,371,174,121,63,8
1,56,1,165,64,81,174,401,149,39,53,6
2,54,0,172,95,138,163,386,185,102,75,10
3,55,0,175,94,100,202,380,179,143,71,1
5,13,0,169,51,100,167,321,174,91,84,14
...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,63,1
448,37,0,190,85,100,137,361,201,73,73,10
449,36,0,166,68,108,176,365,194,116,84,2
450,32,1,155,55,93,106,386,218,63,80,1
451,78,1,160,70,79,127,364,138,78,75,1

In [9]:
df = df.reset_index()

In [10]:
df = df.drop(columns=["level_0","index"])
df

KeyError: "['level_0'] not found in axis"

In [ ]:
fold1 = (df.iloc[0:150].reset_index(drop=True), df.iloc[150:450].reset_index(drop=True))
fold2 = (df.iloc[150:300].reset_index(drop=True), pd.concat([df.iloc[300:450], df.iloc[0:150]]).reset_index(drop=True))
fold3 = (df.iloc[300:450].reset_index(drop=True), df.iloc[0:300].reset_index(drop=True))

test, train = fold2
print(train)

     Age  Sex  Height  Weight  QRS duration  P-R interval  Q-T interval  \
0     63    1     164      54            78           140           393
1     74    0     170      67            84           175           444
2     67    0     176      80            97           144           357
3     31    1     160      55            94           124           434
4     14    0     175      59            96           141           340
..   ...  ...     ...     ...           ...           ...           ...
295   18    0     175      60           102           135           379
296   34    1     155      54            86           127           369
297   39    1     160      62            80           123           375
298   17    1     160      54            85           137           323
299   48    1     156      62            85           176           385

     T interval  P interval Heartrate  Class
0           143          78        65      1
1           182          42        44      6
2           170         100        93      3
3           127          66        66      2
4           225          87        83      1
..          ...         ...       ...    ...
295         167          73        62     10
296         157          78        62      1
297         153          67        65      1
298         143          87        93     10
299         172         104        74      1

[300 rows x 11 columns]

In [15]:
def norm(df):
  df = (df - df.min()) / (df.max() - df.min())
  return df

df["Heartrate"] = pd.to_numeric(df["Heartrate"])
X = df.drop("Class", axis=1)
Y = df.Class

X = norm(X)
print(X)

        index       Age  Sex    Height    Weight  QRS duration  P-R interval  \
0    0.000000  0.903614  0.0  0.125926  0.435294      0.270677      0.368321
1    0.002217  0.674699  1.0  0.088889  0.341176      0.195489      0.332061
2    0.004435  0.650602  0.0  0.099259  0.523529      0.624060      0.311069
3    0.006652  0.662651  0.0  0.103704  0.517647      0.338346      0.385496
4    0.011086  0.156627  0.0  0.094815  0.264706      0.338346      0.318702
..        ...       ...  ...       ...       ...           ...           ...
446  0.991131  0.638554  1.0  0.081481  0.376471      0.187970      0.379771
447  0.993348  0.445783  0.0  0.125926  0.464706      0.338346      0.261450
448  0.995565  0.433735  0.0  0.090370  0.364706      0.398496      0.335878
449  0.997783  0.385542  1.0  0.074074  0.288235      0.285714      0.202290
450  1.000000  0.939759  1.0  0.081481  0.376471      0.180451      0.242366

     Q-T interval  T interval  P interval  Heartrate
0        0.501805    0.241758    0.590244   0.159664
1        0.610108    0.150183    0.190244   0.075630
2        0.555957    0.282051    0.497561   0.260504
3        0.534296    0.260073    0.697561   0.226891
4        0.321300    0.241758    0.443902   0.336134
..            ...         ...         ...        ...
446      0.541516    0.168498    0.570732   0.159664
447      0.465704    0.340659    0.356098   0.243697
448      0.480144    0.315018    0.565854   0.336134
449      0.555957    0.402930    0.307317   0.302521
450      0.476534    0.109890    0.380488   0.260504

[451 rows x 11 columns]

In [16]:
def euclidean(x1, x2):
  return np.sqrt(np.sum((x1-x2)**2))

euclidean(X.iloc[0],X.iloc[1])

1.1210630647563549